.navbar {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    gap: 25px;
    font-size: 14px;
    font-weight: bold;
}

.nav-item {
    cursor: pointer;
}

.nav-item:hover {
    text-decoration: underline;
}
