.partnership-card{
  width: 100%;
  min-width: 0;                  /* 그리드 계산에 영향 안 주도록 */
  border: 1px solid #0C2E86;
  border-radius: var(--radius-12);
  overflow: hidden;
  background: #fff;
}

.card-image-wrapper {
  width: 100%;
  height: 115px;
  overflow: hidden;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-info {
  flex: 1;
  border-top: 1px solid #0C2E86;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 4px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-benefit {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #0C2E86;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-name {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 13px;
  color: #47609F;
  max-width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-tags {
  display: flex;
  gap: 4px;
}

.card-tag {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 13px;
  color: #ffffff;
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  line-height: 1;
}

.card-tag.blue {
  background-color: #0C2E86;
}

.card-tag.green {
  background-color: #62D660;
}

.card-tag.yellow {
  background-color: #FFC45E
}