* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.app-container {
    min-height: 100vh;
    background: linear-gradient(
            to top,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 1)
        ),
        linear-gradient(
            to right,
            rgba(74, 79, 166, 0.5),
            rgba(168, 221, 171, 0.5),
            rgba(168, 181, 216, 0.5)
        );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 90vw;
    max-width: 1200px;
    flex-wrap: wrap;
}

.box {
    flex: 1 1 30%;
    max-width: 300px;
    aspect-ratio: 2/3;
    background-color: white;
    border-radius: 16px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s, background-color 0.2s;
}

.box:hover {
    background-color: #f3f3f3;
    transform: translateY(-5px);
}
